


<div class="container" id="container" [ngClass]="{'right-panel-active': isSignUp}">

	<div class="form-container sign-up-container">
		<div class="form">
			<input type="text" placeholder="Name" [(ngModel)]="username" />
			<input type="email" placeholder="Email"  [(ngModel)]="email"  />
			<input type="password" placeholder="Password"  [(ngModel)]="password"/>
			<button  (click)="signup()">Sign Up</button>
        </div>
	</div>

	<div class="form-container sign-in-container">
		<div class="form">
			<h1>Sign in</h1>
			<input type="text" placeholder="Email" [(ngModel)]="username"/>
			<input type="password" placeholder="Password"  [(ngModel)]="password"/>
			<button  (click)="login()">Sign In</button>
            <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
        </div>
	</div>

	<div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" (click)="toggleSignIn()">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" (click)="toggleSignUp()">Sign Up</button>
            </div>
        </div>
    </div>

</div>

<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        console.log("hy")
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>